<!DOCTYPE html>
<html lang="pt-br" xmlns="hhttps://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Produto</h1>
        <form th:action= "@{/cadastro}" method = "post" th:object="${produto}">
            <label for="nome">Nome do Produto:</label>
            <input type="text" id = "nome" th:field="*{nome}" placeholder="Digite o nome do produto" required>
            
            <label for="nome">Preço do Produto:</label>
            <input type="text" id = "preco" th:field="*{preco}" placeholder="Digite o preço do produto" required>

            <button type="submit">Cadastrar</button>
            
        </form>

        <a th:href="@{/}">Voltar para a lista de Produtos</a>
    </div>
</body>
</html>